*:root {
    --branco:#ffffff;
    --preto:#000000;
    --roxo:#9c08e0;
}
 * {
    margin: 0;
    padding: 0;
}   
.menu{
    height: 20%;
    width: 100%;
    background-color: var(--branco);
}
body{
font-family: 'Khand', sans-serif;
}